<div class="bradcaump_area bg_image--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump_inner text-center">
                        <h2 class="bradcaump-title">Contact Us</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="index.html">Home</a>
                            <span id="nipa" class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Contact Us&nbsp;</span></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="about_area bg--white pt--120 pb--110">
        <div class="container">
            <div class="row align-items-center">
                <div class="offset-lg-3 col-xl-7 col-lg-6 col-12">
                    <div class="about_content">
                        <h2>Get your glasses</h2>
                        <h3>Follow the steps to order</h3>

                        <p>Your name</p><p>Glasses</p><p>Prescription</p>
                    </div>
                </div>
                <div class="d-none">
                    <div class="thumb">
                        <img src="img/blog/about_welcome.jpg" alt="about img">
                    </div>
                </div>
            </div>
        </div></div>